<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Ojak Sofa</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="/static/img/favicon.png" rel="icon">
  <link href="/static/img/favicon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="static/vendor/aos/aos.css" rel="stylesheet">
  <link href="static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="static/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="static/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="static/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="static/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="static/style.css" rel="stylesheet">

</head>

<body>

  <!-- ======= Top Bar ======= -->
  <section id="topbar" class="d-flex align-items-center">
    <div class="container d-flex justify-content-center justify-content-md-between">
      <div class="contact-info d-flex align-items-center">
        <i class="bi bi-envelope-fill"></i><a href="mailto:ojakj69@gmail.com">ojakj69@gmail.com</a>
        <i class="bi bi-phone-fill phone-icon"></i> 0822-4000-6782
      </div>
      <div class="social-links d-none d-md-block">
        <a href="#" class="facebook"><i class="bi bi-facebook"></i></a>
        <a href="#" class="instagram"><i class="bi bi-instagram"></i></a>
      </div>
    </div>
  </section>

  <!-- ======= Header ======= -->
  <header id="header" class="d-flex align-items-center">
    <div class="container d-flex align-items-center justify-content-between">

      <h1 class="logo"><a href="index.html">OJAK SOFA</a></h1>
      <nav id="navbar" class="navbar">
        <ul>
          <li><a class="nav-link scrollto active" href="#hero">Home</a></li>
          <li><a class="nav-link scrollto" href="#services">Layanan</a></li>
          <li><a class="nav-link scrollto " href="#portfolio">Portfolio</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

    </div>
  </header><!-- End Header -->

  <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex align-items-center">
    <div class="container position-relative" data-aos="fade-up" data-aos-delay="500">
      <h1>Selamat Datang Di Ojak Sofa</h1>
      <h2>Kami Siap Melayani Perbaikan dan Pembuatan Sofa Baru Untuk Anda</h2>
      <a href="#cta" class="btn-get-started scrollto">Hubungi Sekarang</a>
    </div>
  </section><!-- End Hero -->

  <main id="main">
    <!-- ======= Services Section ======= -->
    <section id="services" class="services">
      <div class="container">

        <div class="section-title">
          <span>Layanan</span>
          <h2>Layanan</h2>
          <p>Kembalikan Keindahan Sofa Anda dengan Layanan Ahli Kami</p>
        </div>

        <div class="row">
          <div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="fade-up">
            <div class="icon-box">
              <div class="icon"><i class="bx bxl-dribbble"></i></div>
              <h4><a href="">Perbaikan Sofa</a></h4>
              <p>Kami dapat memperbaiki kerusakan seperti retak, robek, atau bantal yang aus. Dengan perawatan khusus, kami akan mengembalikan keindahan sofa Anda seperti baru.</p>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-md-0" data-aos="fade-up" data-aos-delay="150">
            <div class="icon-box">
              <div class="icon"><i class="bx bx-file"></i></div>
              <h4><a href="">Pembuatan Sofa Baru</a></h4>
              <p>Selain layanan perawatan, kami juga melayani pembuatan sofa baru sesuai dengan kebutuhan dan preferensi Anda.</p>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-lg-0" data-aos="fade-up" data-aos-delay="300">
            <div class="icon-box">
              <div class="icon"><i class="bx bx-tachometer"></i></div>
              <h4><a href="">Perbaikan Jok Mobil</a></h4>
              <p>Kami dapat memperbaiki dan mengganti jok mobil rusak. Kami gunakan bahan berkualitas tinggi dan teknik yang tepat untuk kondisi prima jok mobil Anda.</p>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Services Section -->

    <!-- ======= Cta Section ======= -->
    <section id="cta" class="cta">
      <div class="container" data-aos="zoom-in">

        <div class="text-center">
          <h3>Kontak Kami</h3>
          <p>Hubungi kami sekarang untuk mendapatkan penawaran harga yang kompetitif dan jadwalkan janji temu dengan kami</p>
          <a class="cta-btn" href="https://wa.link/59rn1a">WhatsApp</a>
        </div>

      </div>
    </section><!-- End Cta Section -->

    <!-- ======= Portfolio Section ======= -->
    <section id="portfolio" class="portfolio">
      <div class="container">

        <div class="section-title">
          <span>Portfolio</span>
          <h2>Portfolio</h2>
          <p>Berikut adalah portfolio kami</p>
        </div>

        <div class="row" data-aos="fade-up">
          <div class="col-lg-12 d-flex justify-content-center">
            <ul id="portfolio-flters">
              <li data-filter="*" class="filter-active">Semua</li>
              <li data-filter=".filter-sofa">Sofa</li>
              <li data-filter=".filter-head">HeadBoard</li>
              <li data-filter=".filter-car">Jok Mobil</li>
            </ul>
          </div>
        </div>

        <div class="row portfolio-container" data-aos="fade-up" data-aos-delay="150">

          <div class="col-lg-4 col-md-6 portfolio-item filter-sofa">
            <img src="/static/img/portfolio/Sofa-1.jpg" class="img-fluid" alt="">
            <div class="portfolio-info">
              <h4>Sofa Kerang (2 Seat)</h4>
              <p>Sofa</p>
              <a href="/static/img/portfolio/Sofa-1.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="Sofa Kerang (2 Seat)"><i class="bx bx-plus"></i></a>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-car">
            <img src="/static/img/portfolio/JM-1.jpg" class="img-fluid" alt="">
            <div class="portfolio-info">
              <h4>Jok Mobil 1 (MBTECH)</h4>
              <p>Jok Mobil</p>
              <a href="/static/img/portfolio/JM-1.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="Jok Mobil 1 (MBTECH)"><i class="bx bx-plus"></i></a>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-sofa">
            <img src="/static/img/portfolio/Sofa-2.jpg" class="img-fluid" alt="">
            <div class="portfolio-info">
              <h4>Sofa Bread (3 Seat)</h4>
              <p>Sofa</p>
              <a href="/static/img/portfolio/Sofa-2.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="Sofa Bread (3 Seat)"><i class="bx bx-plus"></i></a>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-head">
            <img src="/static/img/portfolio/HB-1.jpg" class="img-fluid" alt="">
            <div class="portfolio-info">
              <h4>HeadBoard Geometric</h4>
              <p>HeadBoard</p>
              <a href="/static/img/portfolio/HB-1.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="HeadBoard Geometric"><i class="bx bx-plus"></i></a>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-car">
            <img src="/static/img/portfolio/JM-2.jpg" class="img-fluid" alt="">
            <div class="portfolio-info">
              <h4>Jok Mobil 2 (MBTECH)</h4>
              <p>Jok Mobil</p>
              <a href="/static/img/portfolio/JM-2.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="Jok Mobil 2 (MBTECH)"><i class="bx bx-plus"></i></a>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-sofa">
            <img src="/static/img/portfolio/Sofa-3.jpg" class="img-fluid" alt="">
            <div class="portfolio-info">
              <h4>Sofa Bed Minimalis</h4>
              <p>Sofa</p>
              <a href="/static/img/portfolio/Sofa-3.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="Sofa Bed Minimalis"><i class="bx bx-plus"></i></a>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-head">
            <img src="/static/img/portfolio/HB-2.jpg" class="img-fluid" alt="">
            <div class="portfolio-info">
              <h4>HeadBoard Geometric 2</h4>
              <p>HeadBoard</p>
              <a href="/static/img/portfolio/HB-2.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="HeadBoard Geometric 2"><i class="bx bx-plus"></i></a>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-head">
            <img src="/static/img/portfolio/HB-3.jpg" class="img-fluid" alt="">
            <div class="portfolio-info">
              <h4>HeadBoard King</h4>
              <p>HeadBoard</p>
              <a href="/static/img/portfolio/HB-3.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="HeadBoard King"><i class="bx bx-plus"></i></a>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-car">
            <img src="/static/img/portfolio/JM-3.jpg" class="img-fluid" alt="">
            <div class="portfolio-info">
              <h4>Jok Mobil 3 (MBTECH)</h4>
              <p>Jok Mobil</p>
              <a href="/static/img/portfolio/JM-3.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="Jok Mobil 3 (MBTECH)"><i class="bx bx-plus"></i></a>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Portfolio Section -->
  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer">
    <div class="footer-top">
      <div class="container">
        <div class="row">

          <div class="col-lg-4 col-md-6">
            <div class="footer-info">
              <h3>OJAK SOFA</h3>
              <p>
                Cikaret, Harapan Jaya <br>
                RT01/RW10, No.K30, Bogor, Jawa Barat<br><br>
                <strong>Phone:</strong> +62 822 4000 6782<br>
                <strong>Email:</strong> ojakj69@gmail.com<br>
              </p>
              <div class="social-links mt-3">
                <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
                <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
              </div>
            </div>
          </div>

          <div class="col-lg-2 col-md-6 footer-links">
            <h4>Useful Links</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="#hero">Home</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#services">Layanan</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#portfolio">Portfolio</a></li>
            </ul>
          </div>

          <div class="col-lg-2 col-md-6 footer-links">
            <h4>Our Services</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i><p>Perbaikan Sofa</p></li>
              <li><i class="bx bx-chevron-right"></i><p>Pembuatan Sofa Baru</p></li>
              <li><i class="bx bx-chevron-right"></i><p>Pembuatan HeadBoard</p></li>
              <li><i class="bx bx-chevron-right"></i><p>Perbaikan Jok Mobil</p></li>
            </ul>
          </div>

          <div class="col-lg-4 col-md-6 footer-newsletter">
            <iframe class="mb-4 mb-lg-0" src="https://www.google.com/maps/embed?pb=!1m17!1m12!1m3!1d1982.2730151291064!2d106.83968205614067!3d-6.452275133155953!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m2!1m1!2zNsKwMjcnMDguMiJTIDEwNsKwNTAnMjcuNSJF!5e0!3m2!1sid!2sid!4v1691204719362!5m2!1sid!2sid" frameborder="0" style="border:0; width: 100%; height: 384px;" allowfullscreen></iframe>
          </div>

        </div>
      </div>
    </div>

    <div class="container">
      <div class="copyright">
        &copy; Copyright <strong><span>OjakSofa</span></strong>. All Rights Reserved
      </div>
      <div class="credits">
        Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
      </div>
    </div>
  </footer><!-- End Footer -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>
  <div id="preloader"></div>

  <!-- Vendor JS Files -->
  <script src="static/vendor/aos/aos.js"></script>
  <script src="static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="static/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="static/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="static/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="static/vendor/php-email-form/validate.js"></script>

  <!-- Template Main JS File -->
  <script src="static/main.js"></script>

</body>

</html>